<% layout('layouts/boilerplate') %>
    <div class="container mb-3">
        <div class="container text-center">
            <div class="card-header">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Drives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">NGOs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Logout</a>
                    </li>
                </ul>

            </div>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" alt="Trendy "
                        class="img-fluid " />
                </div>
                <div class="col-md-8">

                    <div class="container-body">
                        <h5 class="container-title">Profile</h5>
                        <div class="container">
                            <div class="row g-5">
                                <div class="col-6">
                                    <div class="p-3 border bg-light">First_Name</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">Last_Name</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">email</div>
                                </div>

                                <div class="col-6">
                                    <div class="p-3 border bg-light">Phone Number</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">Gender</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">DOB</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">State</div>
                                </div>
                                <div class="col-6">
                                    <div class="p-3 border bg-light">City</div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>