<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Add Drive</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/drives" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" placeholder="Enter Name" name="drive[title]"
                            required>
                    </div>
                    <div class="dropdown mb-3 col-md-4">
                        <label class="form-label" for="driveTyprDropDown">Drive Type</label>
                        <select class="form-select" id="driveTyprDropDown" required>
                            <option selected>Choose...</option>
                            <option value="health">Health</option>
                            <option value="education">Education</option>
                            <option value="nature">Nature</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Venue</label>
                    <input class="form-control" type="text" id="location" placeholder="Enter venue" name="drive[venue]"
                        required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="date">Date</label>
                        <input class="form-control" type="date" id="date" placeholder="Enter Date"
                            name="drive[date]" required>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="time">Time</label>
                        <input class="form-control" type="time" id="time" placeholder="Enter time" name="drive[time]"
                            required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="manager">Drive Manager</label>
                    <input class="form-control" type="text" id="manager" placeholder="Enter Name" name="drive[manager]"
                        required>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" placeholder="Enter description"
                        name="drive[description]" required></textarea>
                </div>
              
                <div class="mb-3 d-grid">
                    <button class="btn btn-success">Add Drive</button>
                </div>
            </form>
            <a href="/drives">Cancel</a>
        </div>
    </div>