<% layout('layouts/boilerplate') %>

    <div class="container mb-3">
        <div class="container text-center">
            <div class="card-header">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Drives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#!" style="background-color:#198754;">Logout</a>
                    </li>
                </ul>

            </div>
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp" alt="Trendy "
                        class="img-fluid " />
                </div>
                <div class="col-md-8">

                    <div class="container-body">
                        <h5 class="container-title">NGO-Profile</h5>
                        <div class="d-grid gap-4">
                            <div class="p-3 bg-light border">NGO_Name</div>
                            <div class="p-3 bg-light border">Type</div>
                            <div class="p-3 bg-light border">State,City</div>
                            <div class="p-3 bg-light border">Email,contact</div>
                            <div class="p-3 bg-light border">Description</div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>